doctype html
html
  head
    title New Sails App
    // Viewport mobile tag for sensible mobile support
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
  body
    block content
    // TEMPLATES
    
    // TEMPLATES END
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    // SCRIPTS END
